 @import "../../responsive.scss";
 nav{
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 100px;


    a{
        transition:all 0.4s ease;
        @include sm{
            display:none;
        }
        &:hover{
            scale:1.05;
        }
    }

    .left{
        flex:3;
        display:flex;
        align-items:center;
        gap: 50px;

        .logo{
            font-weight: bold;
            font-size:20px;
            display:flex;
            gap:10px;
            align-items:center;
            img{
                width: 28px;
            }
        
        span{
            @include md{
                display:none;
            }

            @include sm{
                display:initial;
            }

        }
             
        }
    }
    .right{
        flex:2;
        display:flex;
        align-items:center;
        justify-content:flex-end;
        height:100%;

        a{
            padding:12px 24px;
            margin:20px;
        }

        .register{
            background-color:#fece51;
        }

        .menuIcon{
            display:none;
            z-index:100;
            img{
                width:36px;
                height:36px;
                cursor: pointer;

            }
            @include sm {
                display:inline;
            }
        }

        .menu{
            position:absolute;
            top: 0;
            right:-50%;
            background-color: black;
            color: white;
            height:100vh;
            width:50%;
            transition:all 1s ease;
            display:flex;
            flex-direction:column;
            justify-content: center;
            align-items: center;
            font-size:24px;

            &.active{
                right:0;
            }
            @include sm{
                a{
                    display: inline;
                }
            }
           

        }

        @media (min-width: 738px) {
            .menu {
                display: none;
            }
        }

        @media (min-width: 1366px) {
            .menu {
                display: none;
            }
        }


        

    }
 } 