 @import "../../responsive.scss";
 nav{
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 100px;


    a{
        transition:all 0.4s ease;
        @include sm{
            display:none;
        }
        &:hover{
            scale:1.05;
        }
    }

    .left{
        flex:3;
        display:flex;
        align-items:center;
        gap: 50px;

        .logo{
            font-weight: bold;
            font-size:20px;
            display:flex;
            gap:10px;
            align-items:center;
            img{
                width: 28px;
            }
        
        span{
            @include md{
                display:none;
            }

            @include sm{
                display:initial;
            }

        }
             
        }
    }
    .right{
        flex:2;
        display:flex;
        align-items:center;
        justify-content:flex-end;
        height:100%;

        a{
            padding:12px 24px;
            margin:20px;
        }

        .register{
            background-color:#fece51;
        }

    }
 } 